This Notebooks transforms the 4 given excel sheets into one usable excel sheet

In [2]:
import pandas as pd
import openpyxl

In [3]:
# read in the Ghalichi dataset
Ghalichi_30GPs = pd.read_excel('Ghalichi_2024_30GPs.xlsx', header=None)
Ghalichi_annots = pd.read_excel('Ghalichi_2024.xlsx')

In [4]:
# Set the column names that we want to keep
keep_cols = ['Poseidon_ID', 'Publication', 'Date_C14_Uncal_BP', 'Site', 'Country', 'Latitude', 'Longitude']
# Only keep the columns we need
Ghalichi_annots = Ghalichi_annots[keep_cols]
# Change the publication column to Ghalichi_2024
Ghalichi_annots['Publication'] = 'Ghalichi_2024'
# cahnge the Site column to Locality and the Country column to political Entity
Ghalichi_annots.rename(columns={'Poseidon_ID':'Genetic ID','Date_C14_Uncal_BP':'Date BP', 'Site':'Locality', 'Country':'Political_Entity', 'Latitude':'Lat.', "Longitude":"Long."}, inplace=True)
Ghalichi_annots.head()

,Genetic ID,Publication,Date BP,Locality,Political_Entity,Lat.,Long.
0,9NP003,Ghalichi_2024,4205,9 Nasypey,Russia,45.493044,38.952253
1,9NP004,Ghalichi_2024,4200,9 Nasypey,Russia,45.493044,38.952253
2,A19269.73.74,Ghalichi_2024,4378,Balitshi-Dzedzvebi II.4,Georgia,41.370000,44.390000
3,A19272,Ghalichi_2024,4333,Balitshi-Dzedzvebi III.1,Georgia,41.370000,44.390000
4,AO2001,Ghalichi_2024,6943,Arukhlo 2,Georgia,41.469597,44.679196

In [5]:
# set a temporary header to the Ghalichi_30GPs dataframe
cols = [i for i in range(1, len(Ghalichi_30GPs.columns)+1)]
cols[1] = 'Genetic ID'
# set the columns to keep in the Ghalichi_30GPs dataframe so we only keep the genetic ID and the admixture proportions
keep_cols = [i for i in range(6, len(Ghalichi_30GPs.columns)+1)]
keep_cols[0] = 'Genetic ID'
Ghalichi_30GPs.columns = cols
Ghalichi_30GPs = Ghalichi_30GPs[keep_cols]
Ghalichi_30GPs.head()

,Genetic ID,7,8,9,10,11,12,13,14,15,...,27,28,29,30,31,32,33,34,35,36
0,PUT001,0.000010,0.000010,0.00001,0.000010,0.000983,0.100355,0.172349,0.053476,0.000380,...,0.229773,0.00001,0.00001,0.000010,0.116236,0.000010,0.00001,0.000010,0.000010,0.039898
1,ERG001,0.000010,0.000010,0.00001,0.000010,0.000010,0.113716,0.296565,0.025101,0.002758,...,0.201782,0.00001,0.00001,0.000010,0.000010,0.003965,0.00001,0.000010,0.000292,0.000010
2,ERG005,0.000010,0.000800,0.00001,0.000010,0.000424,0.176240,0.279852,0.056554,0.000527,...,0.122465,0.00001,0.00001,0.008234,0.000010,0.000011,0.00001,0.000472,0.000065,0.068198
3,ERG008,0.006042,0.009049,0.00001,0.004599,0.000010,0.125949,0.259148,0.109814,0.000010,...,0.197758,0.00001,0.00001,0.000019,0.000010,0.000762,0.00001,0.000010,0.000010,0.000010
4,ERG011,0.000010,0.000010,0.00001,0.000010,0.000010,0.157256,0.240161,0.077629,0.000010,...,0.139361,0.00001,0.00001,0.052186,0.000010,0.000010,0.00001,0.000010,0.000010,0.004581

In [6]:
# Merge the two dataframes on the Genetic ID column
merged_Ghalichi = pd.merge(Ghalichi_annots, Ghalichi_30GPs, on='Genetic ID')
merged_Ghalichi.head()

,Genetic ID,Publication,Date BP,Locality,Political_Entity,Lat.,Long.,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,9NP003,Ghalichi_2024,4205,9 Nasypey,Russia,45.493044,38.952253,0.000010,0.00001,0.000010,...,0.132252,0.007723,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.066510
1,9NP004,Ghalichi_2024,4200,9 Nasypey,Russia,45.493044,38.952253,0.000010,0.00044,0.000010,...,0.137320,0.000010,0.000010,0.001964,0.053687,0.000010,0.000010,0.000010,0.000093,0.032280
2,A19269.73.74,Ghalichi_2024,4378,Balitshi-Dzedzvebi II.4,Georgia,41.370000,44.390000,0.001144,0.00327,0.000267,...,0.303760,0.000010,0.004453,0.000370,0.207056,0.000010,0.012902,0.000010,0.000609,0.036360
3,A19272,Ghalichi_2024,4333,Balitshi-Dzedzvebi III.1,Georgia,41.370000,44.390000,0.000010,0.00001,0.000010,...,0.338016,0.000010,0.000010,0.003314,0.139593,0.000010,0.000017,0.000010,0.000010,0.000010
4,AO2001,Ghalichi_2024,6943,Arukhlo 2,Georgia,41.469597,44.679196,0.001172,0.00001,0.002556,...,0.255244,0.000013,0.085231,0.000010,0.236007,0.001516,0.062504,0.000534,0.000926,0.000586

In [7]:
# load the AADR_V62.0 datasets
AADR_V62_30GPs = pd.read_excel('Reich dataset V62.0_30GPs.xlsx', header=None)
AADR_V62_annots = pd.read_excel('Reich dataset V62.0.xlsx')

In [8]:
# Set the column names that we want to keep
keep_cols = ['Genetic ID (suffixes: ".DG" is a high coverage shotgun genome with diploid genotype calls, ".AG" is shotgun data with each position in the genome represented by a randomly chosen sequence, ".HO" is Affymetrix Human Origins genotype data)',
                'Publication abbreviation',
                'Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]',
                'Locality', 'Political Entity', 'Lat.', 'Long.']
# Only keep the columns we need
AADR_V62_annots = AADR_V62_annots[keep_cols]
AADR_V62_annots.rename(columns={'Genetic ID (suffixes: ".DG" is a high coverage shotgun genome with diploid genotype calls, ".AG" is shotgun data with each position in the genome represented by a randomly chosen sequence, ".HO" is Affymetrix Human Origins genotype data)':'Genetic ID',
                                'Publication abbreviation':'Publication',
                                'Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]':'Date BP'}, inplace=True)
AADR_V62_annots.head()

,Genetic ID,Publication,Date BP,Locality,Political Entity,Lat.,Long.
0,I0001.AG,MathiesonNature2018,8025,Loschbour (Echternach),Luxembourg,49.81,6.4
1,Kou01.SG,ClementeCell2021,4250,"Potamia (Cyclades, Epano Koufonisi)",Greece,36.937529,25.60652
2,Kou03.SG,ClementeCell2021,4250,"Potamia (Cyclades, Epano Koufonisi)",Greece,36.937529,25.60652
3,Log02.SG,ClementeCell2021,4250,"Elati-Logkas site (Kozani, Elati)",Greece,39.980392,21.823641
4,Log04.SG,ClementeCell2021,4250,"Elati-Logkas site (Kozani, Elati)",Greece,39.980392,21.823641

In [9]:
# set temp header to the AADR_V62_30GPs dataframe
cols = [i for i in range(1, len(AADR_V62_30GPs.columns)+1)]
cols[1] = 'Genetic ID'
AADR_V62_30GPs.columns = cols
# drop the first column
AADR_V62_30GPs.drop(columns=[1], inplace=True)

In [10]:
# merge the two dataframes on the Genetic ID column
merged_AADR_V62 = pd.merge(AADR_V62_annots, AADR_V62_30GPs, on='Genetic ID')
merged_AADR_V62.head()

,Genetic ID,Publication,Date BP,Locality,Political Entity,Lat.,Long.,3,4,5,...,23,24,25,26,27,28,29,30,31,32
0,I0001.AG,MathiesonNature2018,8025,Loschbour (Echternach),Luxembourg,49.81,6.4,0.000010,0.000010,0.000256,...,0.000971,0.000015,0.000010,0.004830,0.000010,0.000010,0.000010,0.981555,0.000149,0.000010
1,Kou01.SG,ClementeCell2021,4250,"Potamia (Cyclades, Epano Koufonisi)",Greece,36.937529,25.60652,0.000015,0.005214,0.017763,...,0.001711,0.000010,0.097687,0.000010,0.241741,0.000427,0.122761,0.000010,0.002553,0.046765
2,Kou03.SG,ClementeCell2021,4250,"Potamia (Cyclades, Epano Koufonisi)",Greece,36.937529,25.60652,0.003398,0.005131,0.013841,...,0.033684,0.000440,0.058180,0.000010,0.232308,0.000107,0.120382,0.000010,0.001906,0.054018
3,Log02.SG,ClementeCell2021,4250,"Elati-Logkas site (Kozani, Elati)",Greece,39.980392,21.823641,0.000050,0.000680,0.000303,...,0.005396,0.002945,0.046262,0.005547,0.259780,0.000010,0.101928,0.000010,0.000443,0.115121
4,Log04.SG,ClementeCell2021,4250,"Elati-Logkas site (Kozani, Elati)",Greece,39.980392,21.823641,0.002419,0.005820,0.007603,...,0.001729,0.000010,0.033633,0.003157,0.192512,0.002529,0.068389,0.000526,0.001022,0.093989

In [11]:
# change the names of the admixture proportions columns in both dataframes
col_names = ['Genetic ID', 'Publication',
            'Date_BP', 'Locality', 'Political_Entity', 'Lat.', 'Long.',
            'As_Ru_3K_0.9K_BCE', 'As_Ru_5.8K_3.6K_BCE', 'As_Ru_37.4K_3K_BCE',
            'As_Ru_E_0.1K_1.4K_CE', 'C_Af_6K_1K_BCE', 'C_NW_As_2.2K_1.6K_BCE',
            'C_N_As_BCE', 'C_N_As_CE', 'E_Af_2.5KBCE_1.6KCE', 'E_As_6KBCE_0.25KCE',
            'E_C_Eu_6K_2K_BCE', 'E_Eu_9K_3K_BCE', 'E_Eu_CE', 'E_Eu_Po_3K_2.3K_BCE',
            'NN_Am_1K_2.0K_CE', 'N_Am_11.5KBCE_1.2KCE', 'N_Eu_0.7K_1.7K_CE',
            'Oceania_1KBCE_2KCE', 'SE_As_6KBCE_0.8KCE', 'SW_As_8K_1.1K_BCE',
            'SW_C_As_9K_0.8K_BCE', 'S_Am_CE', 'S_Eu_5.4K_1K_BCE', 'S_Eu_16K_5K_BCE',
            'S_Eu_CE', 'S_M_Am_3.5KBCE_1.7KCE', 'W_Eu_5.5K_2.5K_BCE',
            'W_Eu_30K_5K_BCE', 'W_Eu_38K_BCE', 'W_Eu_CE']
# change the column names in the merged dataframes
merged_Ghalichi.columns = col_names
merged_AADR_V62.columns = col_names

# merge the two dataframes
merged = pd.concat([merged_Ghalichi, merged_AADR_V62])
merged.shape

(13668, 37)

In [12]:
# write the merged dataframe to an excel file
merged.to_excel('aDNA_30GPs.xlsx', index=False)